# -------------------------
# Composer
# -------------------------
/vendor/
/composer.phar

# -------------------------
# Environment files
# -------------------------
.env
.env.*

# -------------------------
# Logs & cache
# -------------------------
/storage/logs/
/storage/cache/
*.log

# -------------------------
# OS / Editor junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE / Editor settings
# -------------------------
.vscode/
.idea/

# -------------------------
# Node (if ever used)
# -------------------------
node_modules/

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.bak
# -------------------------
# UPLOAD FILES 
# -------------------------
public/uploads