#DivForm1 {
  width: 400px;
  /* background: linear-gradient();*/
  /* background: transparent; */
  /* background: repeating-linear-gradient(red,green,transparent); */
}
#body1w {
  background: linear-gradient(
    rgb(177, 114, 114),
    rgb(132, 165, 132),
    rgb(191, 191, 233)
  );
}
#DivForm {
  width: 400px;
  /* background: linear-gradient();*/
  /* background: transparent; */
  /* background: repeating-linear-gradient(red,green,transparent); */
  background: radial-gradient(
    transparent,
    rgb(223, 216, 216),
    rgb(193, 215, 193)
  );
  box-shadow: 0px 0px 5px 2px rgb(20, 21, 22);
  opacity: 0.9;
}
#NavBarId {
  /* background: linear-gradient(15deg, #e18383 , #81ff81 ,#ce71ce); */
  animation: trasform 5s infinite cubic-bezier(0.46, 0.03, 0.4, -0.26);
}
@keyframes trasform {
  0% {
    background: linear-gradient(5deg, #e18383, #81ff81, #ce71ce);
  }
  25.0% {
    background: linear-gradient(95deg, #e18383, #81ff81, #ce71ce);
  }
  50.0% {
    background: linear-gradient(175deg, #e18383, #81ff81, #ce71ce);
  }
  75.0% {
    background: linear-gradient(245deg, #e18383, #81ff81, #ce71ce);
  }
  100.0% {
    background: linear-gradient(305deg, #e18383, #81ff81, #ce71ce);
  }
}

#menu {
  background-color: red;
  height: 100vh;
  width: 30vw;
  position: absolute;
  z-index: 10;
  right: 100;
}
